<div class="profile panel">
  <img class="avatar" src="<%= image_path('gallery.jpg') %>">
  <div class="profile-detail">
  	<span class="profile-name"><%= animal.tag_code %>&#x202F;∙&#x202F;<%= animal.name %></span><br/>
  	<span>Sighted <%= animal.observations.count %> times.</span>
  	<!-- <div class="">
  		<p><%= animal.tag_code %> <%= animal.gender %></p>
  	</div> -->
  </div>
</div>