<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />



<div class="module-profile">
  <div class="avatar">
    <img src="<%= @animal.avatar.remote_url %>">
  </div>

  <div class="profile-child">
    <div class="profile-detail">
      <span class="profile-number"><%= @animal.tag_code %></span>
    </div>
  
    <div class="">
      <span class="profile-name"><%= @animal.name %></span><br/> 
    </div>
  </div>

  <div class="profile-detail">
    Tagged: 3 years ago.<br/>
    Sex: Male

  </div>
</div>


<div class='row'>
  <div class="small-12 columns">
    <div id='map' style="height: 300px"></div>
  </div class="">
</div class='row'>

<div class='row'>
  <div class="small-12 columns">
    <div class="stat-row">

      <div class="stat-box">
        Seen<br/>
        <%= @animal.observations.count %><br/>
        times
      </div>  
      <div>
        Seen by<br/>
        <% users = @animal.observations.each { |o| o.user } %>
        <%= users.uniq{ |u| u.id }.count %><br/>
        people
      </div>
    </div>
  </div>
</div>

<script>
  L.mapbox.accessToken = 'pk.eyJ1Ijoid2luZ3RhZ3MiLCJhIjoiOWI5ZDRhY2Q1MjA2M2VjNDk5NjIxYzYyNTk3NmFmOGQifQ.4KimRehL-bddDAafz0F8HQ';
  var map = L.mapbox.map('map', 'wingtags.gip2j1eb').setView([40, -74.50], 9);
</script>


<!-- <div id='map' style="position:absolute; top:0; bottom:0; width:100%;"></div> -->