<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Javascript error logging. Enable for production
    <script>
      (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
      c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
      c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
      _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
      (window,document,"script","544f66cc5609fb8d7d000e5e");
    </script> -->

    <title><%= content_for?(:title) ? yield(:title) : "The Wingtags Project" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href=<%= root_path %>>WINGTAGS<%= image_tag "icon1.png" %></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
  
      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to 'About', about_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Report a sighting', new_observation_path %></li>
          <li class="divider"></li>
          <!-- <li><a href="#">SIGHTINGS</a></li>
          <li class="divider"></li> -->
          <li><%= link_to 'Gallery', animals_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sponsorship', sponsorship_path %></li>
        </ul>
      </section>
    </nav>

    <!--<div class='row'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div> -->
  
      <%= yield %>
      
    <footer>
      <hr>
      <a href="#">Contact</a> | <%= link_to "Terms & Conditions", terms_path %> | <a href="sponsorship.html">Donate</a>
    </footer>

    <!-- <script src="bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="js/app.js"></script> -->

    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>



  </body>
</html>